name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"] # Hoặc "master" tùy tên nhánh của bạn
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Inject API URL
        # Bước này sẽ tìm chữ "PLACEHOLDER_API_URL" trong index.html
        # và thay thế bằng Secret bạn đã lưu trên GitHub
        run: |
          sed -i 's|PLACEHOLDER_API_URL|${{ secrets.APPS_SCRIPT_URL }}|g' index.html

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
